
{% extends 'users/elegant.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}



{% block main %}

        
    {% if messages %}
    {% for message in messages %}
        <p class="alert alert-info">{{ message }}</p>
    {% endfor %}
    {% endif %}

    <!-- Begin Page Content -->
    <div class="container-fluid">


        
        <div class="col-lg-12">
                    
            <form method="POST" action="{{ create_url }}" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'users/bs4_form.html' with form=form %}
            <button type="submit" class="btn btn-primary">Update Employee</button>
            </form>

            
        </div>
        <!-- /.container-fluid -->

        </div>
           

    </div>
    <!-- End of Main Content -->

    



{% endblock %}